.grid{
    background-color: #e6e2eb;
    border: 1px solid #c9c1d5;
    padding-top: 15px;
    padding-bottom: 15px;
}
.grid2{
    background-color: #d1c9da;
    border: 1px solid #b8adc7;
    padding-top: 15px;
    padding-bottom: 15px;
}
